<a href="https://colab.research.google.com/github/sureshgv/machine-learning-tutorials/blob/main/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

pd.options.display.max_rows = 10

# read data to a data frame

df = pd.read_csv("/content/GDP by Country 1999-2022.csv")

In [2]:
df.head(5)

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Afghanistan, Rep. of.",0,0,0,4.084,4.585,5.971,7.309,8.399,9.892,...,21.555,24.304,0,0,0,0,0,0,0,0
1,Albania,3.444,3.695,4.096,4.456,5.6,7.452,8.376,9.133,10.163,...,14.91,16.053,11.591,12.204,13.214,14.341,15.553,16.996,16.77,18.012
2,Algeria,48.845,54.749,55.181,57.053,68.013,85.016,102.38,114.322,116.158,...,190.432,203.449,175.077,181.71,192.256,202.179,210.906,219.16,163.812,168.195
3,Angola,6.153,9.135,8.936,11.386,13.956,19.8,30.632,43.759,55.37,...,136.415,151.089,102.011,98.815,105.369,112.533,119.403,127.15,70.339,74.953
4,Antigua and Barbuda,0.652,0.678,0.71,0.718,0.754,0.818,0.875,0.962,1.026,...,1.404,1.494,1.285,1.328,1.386,1.458,1.536,1.617,1.405,1.534

In [5]:
df.tail(5)

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
175,Venezuela,97.977,117.153,122.872,92.889,83.442,112.8,143.443,181.608,219.372,...,403.123,409.562,131.855,133.534,144.227,155.096,170.41,184.364,44.893,43.546
176,Vietnam,28.684,31.196,32.504,35.148,39.63,45.548,53.053,60.995,68.298,...,135.729,148.914,198.805,214.75,229.845,247.415,265.987,287.257,368.002,415.493
177,"Yemen, Republic of",7.53,9.561,9.533,9.985,11.869,13.565,15.193,18.7,21.657,...,40.003,42.687,0,0,0,0,0,0,0,0
178,Zambia,3.132,3.238,3.64,3.775,4.326,5.44,7.271,10.942,10.104,...,21.829,23.613,24.466,25.158,27.17,29.911,32.957,36.316,21.699,23.967
179,Zimbabwe,5.963,8.136,12.883,30.856,10.515,4.7,4.552,5.54,18.281,...,6.214,6.851,13.905,14.292,14.994,15.736,16.609,17.529,25.791,27.806

In [6]:
df.sample(5)

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
127,Poland,167.942,171.319,190.333,198.029,216.545,252.668,303.161,338.689,364.834,...,504.989,535.655,481.235,508.857,540.186,577.055,617.513,663.519,655.332,720.35
108,Mongolia,0.906,0.947,1.018,1.121,1.285,1.625,2.094,2.803,3.183,...,7.516,7.595,12.409,12.96,13.699,14.82,16.069,17.871,14.28,15.83
139,Sierra Leone,0.669,0.636,0.806,0.936,0.991,1.073,1.215,1.419,1.514,...,2.704,2.871,4.266,4.563,4.918,5.37,5.865,6.373,4.407,4.587
140,Singapore,82.611,92.717,85.485,88.068,92.35,107.405,116.704,132.155,146.09,...,205.994,216.372,293.959,308.716,328.299,348.796,370.063,394.977,378.645,396.995
7,Australia,401.782,390.017,368.191,412.901,527.588,639.356,712.436,754.816,822.089,...,"1,078.91","1,125.82","1,240.80","1,253.00","1,317.16","1,381.51","1,442.47","1,515.70","1,610.56","1,677.45"

In [7]:
df[df["Country"] == "China"]

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
34,China,"1,083.28","1,198.48","1,324.81","1,453.84","1,640.97","1,931.64","2,243.69","2,630.11","3,051.24",...,"7,287.76","8,283.35","11,384.76","12,253.98","13,173.59","14,272.35","15,620.71","17,100.06","16,862.98","18,463.13"

In [8]:
df.iloc[10:15]

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
10,"Bahamas, The",4.704,5.004,5.131,5.389,5.503,5.661,5.87,6.223,6.624,...,8.02,8.287,0,0,0,0,0,0,0,0
11,Bahrain,6.617,7.966,7.927,8.446,9.734,11.18,13.378,16.065,17.505,...,25.814,27.165,30.914,32.335,34.318,36.334,38.446,40.522,39.104,41.057
12,Bangladesh,46.529,47.048,47.194,49.56,54.476,59.12,61.28,65.216,71.443,...,123.447,133.176,202.333,218.991,238.723,260.874,285.329,310.858,355.689,390.608
13,Barbados,2.478,2.559,2.554,2.476,2.695,2.817,3.061,3.386,3.751,...,4.23,4.445,4.451,4.537,4.652,4.805,4.999,5.222,4.648,5.142
14,Belarus,12.104,12.758,12.421,14.654,17.823,23.141,30.131,36.944,38.185,...,79.416,91.501,62.02,66.37,70.997,76.023,82.437,89.315,65.754,70.632

In [3]:
df.query('Country == "China"')

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
34,China,"1,083.28","1,198.48","1,324.81","1,453.84","1,640.97","1,931.64","2,243.69","2,630.11","3,051.24",...,"7,287.76","8,283.35","11,384.76","12,253.98","13,173.59","14,272.35","15,620.71","17,100.06","16,862.98","18,463.13"

In [13]:
list_of_countries = ["United States", "China", "India"]
top3 = df.query('Country in @list_of_countries')
top3.head(5)

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
34,China,"1,083.28","1,198.48","1,324.81","1,453.84","1,640.97","1,931.64","2,243.69","2,630.11","3,051.24",...,"7,287.76","8,283.35","11,384.76","12,253.98","13,173.59","14,272.35","15,620.71","17,100.06","16,862.98","18,463.13"
74,India,440.76,461.329,473.867,494.848,576.547,667.342,780.784,886.867,984.21,...,"1,740.41","1,908.33","2,182.58","2,384.73","2,607.41","2,846.16","3,131.95","3,443.60","2,946.06","3,250.08"
171,United States,"9,268.43","9,816.98","10,127.95","10,469.60","10,960.75","11,712.48","12,455.83","13,244.55","13,770.31",...,"16,729.38","17,419.35","17,968.20","18,697.92","19,555.87","20,493.25","21,404.19","22,294.11","22,939.58","24,796.08"